name: Build Release Binaries

on:
  push:
    tags:
      - "*"

env:
  RUST_VERSION: "1.92"

jobs:
  build:
    name: Build release binaries
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: $RUST_VERSION

      - name: Build the binaries
        run: cargo build --verbose --release

      - name: Upload binaries to release
        # spell-checker: disable-next-line
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/{csv_to_nf,label_nf}
          file_glob: true
          overwrite: true
          draft: true
